<div class="quiz-header">
  @if(allDone) {
    <div class="quiz-info">
      <h3>{{subject}}</h3>
      <a [routerLink]="['/quizAll/' + subjectId]" class="quiz-link">
        <p>List of quizzes...</p>
      </a>
    </div>

    <button
      class="flash-button"
      (click)="clickquiz()"
      [disabled]="loading"
      pButton
      label="TEST HERE !!!">
    </button>

    @if (loading) {
      <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '50%' }">
        <div class="loading-spinner">
          <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
        </div>
      </p-dialog>
    }
  }
</div>

<full-calendar [options]="calendarOptions"></full-calendar>