
   <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; width: 100%;">

   <h3>Subjects</h3>

   <p-card [style]="{ width: '100%', overflow: 'hidden', marginBottom:'20px' }">

@for(r of respons; track r.id; let i=$index){


<div  style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
    <a [routerLink]="['/subject/', r.id]" style="width: 80%; padding: 10px;" >
     <p-listbox [options]="[r]"  optionLabel="nameSubject" class="w-full md:w-56" />
    </a>
   
    <div >
    <p-button (click)="deleteSubject(r.id)" icon="pi pi-times" severity="danger" />
    </div>
  
</div>
}

    
</p-card>

      

    <div>
       <p-button label="Add" icon="pi pi-plus" iconPos="right"  [routerLink]="['/addSubject']"/>
    </div>



   </div>

    
