

@if(lesson){
    <div>
    
<div class="card">
    <p-panel [toggleable]="true">
        <ng-template #header>
            <div class="flex items-center gap-2">
                <span class="font-bold">{{lesson.title}}</span> - <span> {{lesson.durationMinutes}}minutes</span>
            </div>
        </ng-template>

        @if(lesson){
          <p-editor [(ngModel)]="lesson!.summary"  />
        }

    </p-panel>
</div>


<p-accordion>
    <p-accordion-panel  value="0">
        <p-accordion-header>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%;" >
                <p> If you want to see the hole lesson. Click here...</p>
                 <p-button (click)="downloadLesson()" label="Download lesson" />
            </div>
           </p-accordion-header>
        <p-accordion-content>
               @if(lesson){
          <p-editor [(ngModel)]="lesson!.content" />
        }
        </p-accordion-content>

    </p-accordion-panel>

</p-accordion>


    <div>
        
     
            <div>
                 <p>Mark as done:</p>
                 @if(lesson){
          <p-togglebutton  [(ngModel)]="lesson!.done"  [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'" class="ng-invalid ng-dirty" styleClass="w-full sm:w-40" aria-label="Confirmation" />
                 }
             
            </div>
            
            <br>
             <p-button (click)="clickEditButton( )" label="Save Edit" />

             
          @if(lesson){


            @if(!isSpeeching){

            <p-button icon="pi pi-volume-up" [rounded]="true" [outlined]="true"  (click)="clickSpeech()" label="Speech" />
            <p-button icon="pi pi-play" [rounded]="true" [outlined]="true"  (click)="clickResume()" label="Resume" />
        
            } @else {
             <p-button icon="pi pi-stop" [rounded]="true" [outlined]="true" (click)="stopSpeech()" label="Stop"/>
             <p-button icon="pi pi-pause-circle" [rounded]="true" [outlined]="true" (click)="clickPause()" label="Pause"/>
               
              
                   
                

            }

              

                

              
          }
        
    </div>

</div>
} @else {

    <div style="display: flex;flex-direction: column; align-items: center; justify-content: center; height: 100%; width: 100%;" >
        <p>The lesson is preparing...</p>
        <p>Wait for the moment...</p>
        <p-progress-spinner ariaLabel="loading" />
    </div>
}
 









