

@if(lesson){
    <div>
    
<div class="card">
    <p-panel [toggleable]="true">
        <ng-template #header>
            <div style="display: flex;flex-direction: column;align-items: center; width: 100%;">
               <div>
                 <span class="font-bold">{{lesson.title}}</span> - <span> {{lesson.durationMinutes}}minutes</span>
               </div>

             <div style="display: flex; flex-direction: row; gap: 10px;">
                 <p>Mark as done:</p>
                 @if(lesson){
          <p-togglebutton [(ngModel)]="lesson!.done"   [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'" class="ng-invalid ng-dirty" styleClass="w-full sm:w-40" aria-label="Confirmation" />
                 }
             
            </div>
            </div>

        </ng-template>

        @if(lesson){
          <p-editor [(ngModel)]="lesson!.summary"  />
        }

    </p-panel>
</div>


<p-accordion>
    <p-accordion-panel  value="0">
        <p-accordion-header>
            <div style="display: flex;flex-direction: column; align-items: center; width: 100%;">
                    <p> If you want to see the hole lesson. Click here...</p>
            
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <p-button icon="pi pi-download" (click)="downloadLesson()"  label="Download" />
                        @if(lesson && isTtsEnabled){


            @if(!isSpeeching){
            <p-button icon="pi pi-volume-up" (click)="clickSpeech()" label="Speech"/>
             <p-button icon="pi pi-play"  (click)="clickResume()" label="Resume" />
            
        
            } @else {
             <p-button icon="pi pi-stop" (click)="stopSpeech()" label="Stop"/>
             <p-button icon="pi pi-pause-circle" (click)="clickPause()" label="Pause"/>
               
              
                   
                

            }

              

                

              
          }

                </div>

            </div>
            
           
           </p-accordion-header>
        <p-accordion-content>
               @if(lesson){
          <p-editor [(ngModel)]="lesson!.content" />
        }
        </p-accordion-content>

    </p-accordion-panel>

</p-accordion>


    <div style="width: 100%; display: flex; justify-content: center; margin-top: 20px;">
            <br>
             <p-button (click)="clickEditButton( )" label="Save Edit" />
    </div>

</div>
} @else {

    <div style="display: flex;flex-direction: column; align-items: center; justify-content: center; height: 100%; width: 100%;" >
        <p>The lesson is preparing...</p>
        <p>Wait for the moment...</p>
        <p-progress-spinner ariaLabel="loading" />
    </div>
}
 









