


     



        @if(isLoading){

              <div class="w-full xl:w-6/12 p-4">
            <h5>Rectangle</h5>
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton height="2rem" styleClass="mb-2" />
            <p-skeleton width="10rem" height="4rem" />
        </div>

        } @else {

             <div class="w-full xl:w-6/12 p-4">
             <h5>Actual Content</h5>
             <p>Display your loaded data here...</p>
             </div>

        }
